.coverContainer {
  max-width: 320px;
  max-height: 430px;
  display: flex;
  justify-content: center;
}

.cover {
  max-height: 430px;
  border-radius: 15px;
}

.header {
  display: flex;
  gap: 50px;
}

.title {
  padding: 20px;
}
